// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Хедер, который ездит вместе со страницей: 

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background-color: red;
}

.header {
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
		min-height: 70px;
	}

	&__logo {
		border-radius: 50%;
		background-color: #fff;
		position: relative;
		z-index: 5;
		width: 40px;
		height: 40px;
	}
}