.layout-2-column {
	display: flex;
	justify-content: space-between;

	@media (max-width:$md2+px){
		flex-wrap: wrap;
	}
}

.layout-2-column__buttons {
	flex-basis: 68%;
}

.layout-2-column__tabs {
	flex-basis: 28%;;

	@media (max-width:$md2+px){
		margin-top: 25px;
	}
}

// TAGS 
.tags {
	margin-top: 50px;
}
.tags-row {
	display: flex;
	margin-bottom: 14px;
	> * {
		margin-right: 14px;

		&:last-child {
			margin-right: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}