.nav {
  &__box {
    display: flex;
    justify-content: space-between;

    @media (max-width:$md2+px){
      flex-wrap: wrap;
    }
  }

  &__left {
     flex: 1 1 45%;
     margin-right: 50px;
  }
  &__right {
    flex: 1 1 45%;
  }

  &__content {
    display: flex;
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content--line {
    border-bottom: 1px solid #e0e0e0;
  }

  &__title {
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: $mine-shaft;
  }

  &__tab {
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $mine-shaft;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;

    @media (max-width:$md4+px){
       padding: 5px;
       font-size: 12px; 
    }
  }

  &__tab--dist {
    margin-left: 46px;

    @media (max-width:$md4+px){
       margin-left: 10px; 
    }
  }

  &__tab--active {
    border-bottom: 2px solid $dodger-blue;
    color: $dodger-blue;
  }
}

.nav__tab--active1 {
  border-bottom: 2px solid $dodger-blue;
  color: $dodger-blue;
}

.nav__tab--active2 {
  border-bottom: 2px solid $dodger-blue;
  color: $dodger-blue;
}

.nav__tab--active3 {
  border-bottom: 2px solid $dodger-blue;
  color: $dodger-blue;
}

.nav--active2 {
  border-bottom: 2px solid $dodger-blue;
  color: $dodger-blue;
}

.nav__tab--active-3 {
  border-bottom: 2px solid $dodger-blue;
  color: $dodger-blue;
}