// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.buttons {
  &__title {
    display: block;
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: $mine-shaft;
  }
}


// --------------------------------------------------------------
// BTN BIG

.btn-big {
  @include btns-standard-big;
  padding: 0 36px;

  &--primary {
    background-color: $dodger-blue;
    color: #fff;

    &:hover {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
      background-color: #fff;
    }
  }

  &--secondary {
    border: 1px solid #e0e0e0;
    color: $mine-shaft;

    &:focus {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
    }

    &:hover {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
      background-color: #fff;
    }
  }

  &--focused {
    border: 1px solid $dodger-blue;
    color: $dodger-blue;
  }
}

.btn-big {
  &:disabled {
    background: rgba(224, 224, 224, 0.3);
    color: #878787;

    &:hover {
      border: 1px solid transparent;
    }
  }
}

// --------------------------------------------------------
// BTNS SMALL

.btn-small {
  @include btns-standard-small;
  padding: 0 24px;

  &--primary {
    background-color: $dodger-blue;
    color: #fff;

    &:hover {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
      background-color: #fff;
    }
  }

  &--secondary {
    border: 1px solid #e0e0e0;
    color: $mine-shaft;

    &:focus {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
    }

    &:hover {
      border: 1px solid $dodger-blue;
      color: $dodger-blue;
      background-color: #fff;
    }
  }

  &--focused {
    border: 1px solid $dodger-blue;
    color: $dodger-blue;
  }
}

.btn-small {
  &:disabled {
    background: rgba(224, 224, 224, 0.3);
    color: #878787;

    &:hover {
      border: 1px solid transparent;
    }
  }
}

// -----------------------------------------------------------------
// Buttons Tabs

.buttons {
  &__top-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
  }
  &__tabs {
    margin-bottom: 24px;
  }
}

.tabs {
  &:first-child {
    margin-top: 56px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (max-width: $md3+px) {
      flex-basis: 100%;
    }
  }
  &__list {
    display: flex;
  }
  &__list-item {
    cursor: pointer;
    width: 56px;
    height: 48px;
    border: 1px solid #e0e0e0;

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &:last-child {
      border-radius: 0px 5px 5px 0px;
      border-left: none;
    }

    &.tabs__active {
      border: none;
    }
  }

  &__item {
    cursor: pointer;
    padding: 14px 48px;
    border: 1px solid #e0e0e0;

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &:last-child {
      border-radius: 0px 5px 5px 0px;
      border-left: none;
    }

    &.tabs__active {
      border: none;
    }

    @media (max-width: $md3+px) {
      padding: 14px 42px;
    }
  }
  &__svg {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__search {
    background-image: url(../images/tabs-search.svg);
  }

  &__download {
    background-image: url(../images/tabs-download.svg);
  }

  &__box {
    background-image: url(../images/tabs-box.svg);
  }

  &__active {
    background-color: $dodger-blue;
    color: #fff;
  }
}
.active,
.active--2,
.active--3 {
  background-color: $dodger-blue;
  color: #fff;
}

// --------------------------------------------------------------------
// TABS ICONS
.tabs-icon__body {
  display: flex;
}

.tabs-icon__item {
  cursor: pointer;
    width: 56px;
    height: 48px;
    border: 1px solid #e0e0e0;

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &:last-child {
      border-radius: 0px 5px 5px 0px;
      border-left: none;
    }

    &--active {
      background-color: $dodger-blue;
      border: 1px solid $dodger-blue;
    }
}

// --------------------------------------------------------------------
// TABS WORDS

.tabs__body {
  display: flex;
}

.tabs__item {
  cursor: pointer;
  padding: 14px 48px;
  border: 1px solid #e0e0e0;

  &:first-child {
    border-radius: 5px 0px 0px 5px;
  }

  &:nth-child(2) {
    border-left: none;
  }

  &:last-child {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
  }

  &--active {
    background-color: $dodger-blue;
    border: 1px solid $dodger-blue;
    color: #fff;
  }
}

