.crumbs {
  &__content {
    margin-bottom: 19px;
  }

  &__tabs {
    margin-top: 40px;
  }
  &__first {
	  cursor: pointer;
    margin-right: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $mine-shaft;

    &:last-child {
      color: #959595;
      margin-right: 0;
    }
  }

  &__divide {
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 14px;
    display: inline-block;
    background-image: url(../../images/crumbs-svg.svg);
  }

  &__active {
    color: $dodger-blue;
  }
}
