.page {
  &__content {
    display: flex;
    margin-bottom: 40px;
  }

  &__arrows,
  &__digit-arrows {
    cursor: pointer;
    margin-right: 11px;
    background-color: rgba(224, 224, 224, 0.3);
    border-radius: 5px;
    transition: all .3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }
  }
  &__digit-arrows {
    border-radius: 50%;
  }
  &__arrows--active {
    background-color: $dodger-blue;
  }

  &__digit {
    display: inline-block;
    // margin-right: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    //  text-align: center;
    color: $dodger-blue;
  }

  &__digit-btns {
    display: flex;
    align-items: center;
  }
}

// all the pages at once

.page {
  &__chevron {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    > * {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__chevron-arrows {
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 20px;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
      margin-left: 9px;
    }
  }
  &__chevron-back {
    background-image: url(../images/page-chevron-back.svg);
  }

  &__chevron-forward {
    background-image: url(../images/page-chevron-forward.svg);
  }

  &__chevron-digits {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #959595;
    transition: all .3s ease-in-out;

    &:hover {
      color: $dodger-blue;
    }
  }

  &__chevron-digits--active {
    color: $dodger-blue;
  }
}

// PAGINATION extended

.page {
  &__extend {
    display: flex;
    align-items: center;
  }

  &__extend-dist {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width:$md4+px){
       margin-right: 11px; 
    }
  }

  &__extend-box {
    background-color: rgba(224, 224, 224, 0.3);
    border-radius: 5px;
    //  width: 89px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 12px 14px 12px 23px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: rgba(24, 160, 251, 0.1);
      .icon-fill {
        fill: $dodger-blue;
      }
    }

    @media (max-width:$md4+px){
      padding: 12px 10px 12px 15px; 
    }
  }

  &__extend-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #8b8b8b;

    &:hover {
      color: $dodger-blue;
    }
    @media (max-width:$md4+px){
       font-size: 11px; 
    }
  }

  &__extend-text--active {
    color: $dodger-blue;
  }

  &__extend-choose {
    padding: 10px 46px 10px 14px;
  }

  &__extend-svg {
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../images/triangle.svg);
    background-position: 35px center;
  }
  &__extend-quantity {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: $mine-shaft;
  }
}

.page__extend-select {
  appearance: none;
}

// норм иконки через use 
// ----------------------------------------

.extend-icon--back {
  transform: translateY(1px);
  margin-right: 17px;
  .icon-fill {
    fill: #949494;
  }
}

.extend-icon--forward {
  transform: translateY(1px);
  margin-left: 17px;
  .icon-fill {
    fill: #949494;
  }
}

// normal arrows -------------------------

// наследование, если иконки в определенных блоках, они серые 
.page__btns {
  .icon-fill {
    fill: #919191;
  }
}

.page__digit-btns {
  .icon-fill {
    fill: #919191;
  }
}

// ----------------------------------
// общие стили для стрелок

.page__icon-back {
  width: 8px;
  height: 14px;
  cursor: pointer;
}

.page__icon-forward {
  cursor: pointer;
  width: 8px;
  height: 14px;
  transform: rotate(180deg);
}

// ----------------------------------------------
// задний фон, который серый

.page__btns {
  margin-right: 45px;
  display: inline-flex;


  // у прямых потомков отступ
  > * {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.page__forward,
.page__back {
  cursor: pointer;
  padding: 8px 12px;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $dodger-blue;

    .icon-fill {
      fill: #fff;
    }
  }
}

// -----------------------------------------------
.page--rounded {
  border-radius: 50%;
}

.page__digit-btns {
  > * {
    margin-right: 11px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// стили для стрелок с цифрами

.page__chevron {
  .page__icon-back {
    fill: #ababab;

    &:hover {
      fill: $dodger-blue;
    }
  }
}
.page__chevron {
  .page__icon-forward {
    fill: #ababab;
    
    &:hover {
      fill: $dodger-blue;
    }
  }

}