.select__title {
  margin-bottom: 7px;
}
.select__box {
  /* Reset Select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 10px 12px;

  font-weight: 400;
  color: #959595;
  font-size: 13px;
  line-height: 16px;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
/* Remove IE arrow */
.select__box::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 260px;
  height: 36px;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 12px 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-left: none;
  border-radius: 4px;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


