.steps__box {
  margin-top: 40px;
}

.steps {
	display: flex;
	align-items: center;
}

.steps__item {
	cursor: pointer;
	padding: 6px 0;
	flex-basis: 93px;
	text-align: center;
  color: $dodger-blue;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.steps__first {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background-image: url(../../images/step-1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 28px;
    top: 0;
    left: 0;
	 opacity: 0.1;
  }
}

.steps__last {
	position: relative;
	&:after {
	  position: absolute;
	  content: "";
	  background-image: url(../../images/step-last.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  width: 100%;
	  height: 28px;
	  top: 0;
	  left: 0;
}
}

.steps__next {
	position: relative;
	&:after {
	  position: absolute;
	  content: "";
	  background-image: url(../../images/step-next.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  width: 100%;
	  height: 28px;
	  top: 0;
	  left: 0;
}
}