.wizard {
	margin-top: 50px;
}

.wizard li {
	background-color: #E8f5ff;
	border-radius: 5px;
	display: inline;
	padding: 10px 30px 10px 40px;
	margin-right: -7px;
	width: auto;

	@media (max-width:$md4+px){
		padding: 10px 25px 10px 30px; 
	}
 }
 
 .wizard li::before, .wizard li::after {
	border: solid transparent;
	 content: " ";
	 height: 0;
	 width: 0;
	 position: absolute;
	border-color: transparent;
	 border-left-color: #fff;
	border-radius: 10px;
 }
 
 .wizard li::before {
	 border-width: 25px; 
	 margin-top: -18px;
    margin-left: 68px;
	 @media (max-width:$md4+px){
		margin-left: 65px;
	 }
 }
 
 
 .wizard li::after {
	 border-left-color: #E8f5ff;
	border-width: 21px; 
	margin-top: -14px;
	margin-left: 23px;

	@media (max-width:$md4+px){
		margin-left: 20px; 
	}
 }
 
 .wizard li.selected {
	background-color: #18A0FB;
	color: #fff;
	
 }
 
 .wizard li.selected::after {
	border-left-color: #18A0FB;
 }
 
 .wizard li:last-child::after {
	border-left-color: transparent;
 }