.btn-svg__download,
.btn-svg__download-path {
  transition: all 0.3s ease-in-out;
}

.btn-svg__right {
  margin-left: 14px;
}

.btn-svg__left {
  margin-right: 14px;
}

.btn-svg__close {
	width: 7px;
	height: 7px;
}

.btn-svg__tab-path {
  transition: all 0.3s ease-in-out;
  fill: $mine-shaft;
  // stroke: $mine-shaft;
}

.btn-svg__tab-down {
  transition: all 0.3s ease-in-out;
  stroke: $mine-shaft;
}