.switch__box {
  margin-bottom: 32px;
}

.switch__top {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.switch__label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 33px;

  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
   
  border: 1px solid #eaeaea;
  -webkit-transition: 0.4s;
  transition: 0.4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: #d5d5d5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:disabled + .slider {
  background-color: #E0E0E0;
}

input:disabled + .slider:before {
  background-color: #fff;
}

input:checked + .slider {
  background-color: #00d200;
  border: 1px solid transparent;
}

input:checked + .slider:before {
	background-color: #fff;
 }

input:focus + .slider {
  box-shadow: 0 0 1px #00d200;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-small {
  height: 26px;
}
.slider-small.slider:before {
  width: 20px;
  height: 20px;
  left: 2px;
  bottom: 2px;
}

input:checked + .slider-small.slider:before {
  transform: translateX(28px);
}
