/**
 * Basic typography style for copy text
 */

.title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
